@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jalan 2/125G<br />
    Salak South, Kuala Lumpur 57100<br />
    <abbr title="Phone">Phone:</abbr>
    014 933 7598
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:nivan.indarys@gmail.com">nivan.indarys@gmail.com</a><br />
</address>